<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="greentube" translate="label" sortOrder="10">
            <label>Greentube</label>
        </tab>
        <section id="greentube" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Greentube</label>
            <tab>greentube</tab>
            <resource>Greentube_Brevo::config</resource>
            <group id="brevo" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Brevo</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                    <comment>Enter the Brevo API endpoint URL</comment>
                </field>
                <field id="sync_frequency" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync email blacklisted status every</label>
                    <source_model>Greentube\Brevo\Model\Config\Source\SyncFrequency</source_model>
                    <comment>Select how often to sync email blacklisted status with Brevo</comment>
                </field>
            </group>
        </section>
    </system>
</config>
