<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="brevo_contact_extension" type="Holzkern\Brevo\Plugin\CustomerRepositoryPlugin" />
    </type>
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="brevo_blacklist_status" type="Holzkern\Brevo\Plugin\CustomerData\CustomerPlugin" />
    </type>
    <type name="Holzkern\Brevo\Api\ContactServiceInterface">
        <arguments>
            <argument name="httpClient" xsi:type="object">GuzzleHttp\Client</argument>
        </arguments>
    </type>
    <preference for="Holzkern\Brevo\Api\ContactServiceInterface" type="Holzkern\Brevo\Model\ContactService" />
</config>
